main {
    padding-top: 32px
}

.plan-details{
    border: 4px green solid;
    border-left: none;
    margin: 20px 0px;
    width: 70%;
    background: rgb(231, 250, 231);
    padding: 30px 30px
}

.plan-details:hover,
.plan-details:active{
    border-color: coral;
}

.plan-details a{
    display: block;
    text-decoration: none;
}

.plan-details--premium {
    background: rgb(32, 122, 32);
}

.plan-details__title {
    color: black;
    font-size: large;
}

.plan-details__title--premium {
    color: white;
}

.plan-details__desc {
    color: grey;
    font-size: large;
}

.plan-details__desc--premium {
    color: rgb(185, 184, 184);
}

.plan-details__add_desc {
    color: rgb(81, 133, 81);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: normal;
    background: white;
    padding: 16px;
    border: 1px green solid;
}

.backgroundImg {
    position: fixed;
    background: url('../../assets/freedom.jpg');
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;
}

.backgroundImg + .plan-details {
   position: relative;
   top: 10px;
   z-index: 0;
}

.plan-details__badge {
  margin: 20px;
  position: absolute;
  top:0;
  right: 0;
  color: white;
  padding:10px;
  background: coral;
  border-radius: 10px;
  z-index: 10;
}

